mixin quote(author, year, quote)
  .quoteWrapper
    p.quote= quote
    p.author=author + ", " + year

- var marthaWebsite = "https://webdocs.cs.ualberta.ca/~whitem/"
- var adamWebsite = "http://adamwhite.ca"

.aboutContent.subContent
  h2 About Me
  p.
    I am a current PhD student at the University of Alberta in Edmontown, working under <a href=#{marthaWebsite}>Martha White</a>. Previously, I attended Indiana University - Bloomington and recieved a Bachelor of Science in Physics (2015) and Masters of Science in Computer Science (2017). My work focuses on General Value Function's use in creating predictive representations in reinforcement learning, and in the use of kernel representations in online continuing settings.

    I am a recent graduate from Indiana University - Bloomington with a Masters degree in Computer Science, and am continuing my studies towards a PhD at the University of Alberta in Edmonton. I work with <a href=#{marthaWebsite}>Martha White</a> in Machine Learning and
    Reinforcement Learning research, more specifically in creating predictive representations with General Value Functions, and . I was recently a Teaching Assistant for the course <em> CSCI-B659: Topics in Artificial Intelligence - Reinforcement Learning for Artificial Intelligence</em>
    with <a href=#{adamWebsite}>Adam White</a> at Indiana University.



.aboutContent.subContent
  h2 Research Interests
  p.
    My reasearch interests primarly fall within the realms of Reinforcement Learning, but I also dable in time series and visual data. My main goal is to create agents
    that build their own representations of environments in a continual learning setting. My current work focuses on two types of representation learning. The first is
    using General Value Functions as a means to create predictive knowledge representations on the fly through question generation. The second is exploring the use of kernel
    representations for prediction in an online setting and for reinforcememtn learning, particularly creating efficient methods to select prototypes for such representations.
  p.
    I spend my time away from my research listening to my favorite music, playing clarinet, enjoying a good book or movie, and tinkering with various tech and circuits. I also
    work to keep up with tech news and recent research in physics.
