header
  div.headContainer
    h1.headTitle Matthew Schlegel
    nav
      each val, index in pageNames
        a(href=pageLinks[index], title=val, class = (page == val) ? 'curPage' : 'diffPage') #{val}

      //-
      //- li(class = (page == "Publications") ? 'curPage' : ''): a(href=publicationsLink, title="Publications") Publications
      //- li(class = (page == "Projects") ? 'curPage' : ''): a(href=projectsLink, title="Projects") Projects
      //- li(class = (page == "Code") ? 'curPage' : ''): a(href=codeLink, title="Code") Code
      //- li(class = (page == "Musings") ? 'curPage' : ''): a(href=musingsLink, title="Musings") Musings
